<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>

<%# <%= link_to post.title, "/posts/#{post.id}" %>
  <%# <a href='<%= "/posts/#{post.id}" %>
  <%# <%= post.title %>